@font-face {
    font-family: 'Vermin-vibes';
    src: url(Fonts/vermin-vibes.ttf);
}

*{
font-family: Arial, Helvetica, sans-serif;
font-size: 1em;

}

body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(to right bottom, pink, yellow );
    height: max-content;

}

.logo{
    text-align: center;
    cursor: pointer;
}

.logo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.logo img:hover{
    opacity: 0.75;
}

.logo img:active{
    width: 500px;
    height: 500px;
}

h1{
    font-family: Vermin-vibes;
    padding: 1rem;
    margin: 10px;
    
    font-weight: normal;
    font-size: 3em;

    background: linear-gradient(to left, green, brown);
    background-clip: text;
    color: transparent;
}

h2{
    font-size: 1.5em;
    font-weight: 600;
    color: hsl(130.71deg 42.59% 31.36%);
}

.user-bio{
    text-align: center;
}

.user-bio p{
    text-align: left;
}

.bio{
    color: hsl(0deg 0.56% 35.1%);
}

.connect{
    text-align: center; padding: 0px;
}

.hyperlink-logo{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.hyperlink-logo:hover{
    opacity:0.75;
}

.hyperlink{
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 130px);
    row-gap: 25px;
    justify-content: center ;
}